#player {
    width:700px;
}

#answer {
    font-size: 3.7em;
    text-align:center;
}

.preposition {
    text-align: center;
    width:inherit;
    font-size: 2em;
}

.percent, .total {
    font-size: 2.7em;

    float: left;
    margin: 13px;
    /* background-color: blue; */
    padding: 8px;
    background-color: ivory;
    border: solid red;
    border-radius: 11px;
    width: 149px;
    text-align:center;
}

.percent {
    /* background-color: blue; */

}

.total {
    /* background-color: green; */

}

#player {

}

#percents {
    /* height: 113px; */

}

#totals {
    height: 112px;

}

button {
    background-color: lightgreen;

    margin: 5px;
}

#back {
  margin-top:15px;
}

.inactive {
  background-color:lightgray;
}

#notes {
  height:40px;
}

.percent:hover, .total:hover {
  cursor: pointer;
}

#success {
  display: none;
  position: absolute;
  z-index: 1;
  left: 124px;
  top: 460px;
  text-align: center;
  font-size: 3em;
  color: fuchsia;
}