body {
  margin:30px;
}

#equation p, h4 {
  display: inline;
}

#equation p {
  margin-left:15px;
}

button {
  width:30px;
  height:30px;
  margin-top:20px;
  float:right;
}

.fraction {
  float:left;
}

.fracRow {
  width:400px;
  height:73px;
}

.flip {
  background-color:red;
  width:100px;
  color:white;
  font-weight:bold;
  font-size:1.2em;
}

.use {
  background-color:lightgreen;
  width:100px;
  color:white;
  font-weight:bold;
  font-size:1.2em;
}

#equation {
  height:150px;
  background-color:white;
  width:100%;
  z-index:1;
}

#result {
  float:left;
}

#instructions {
  position:relative;
  z-index:-1;
}

.sticky {
  position: fixed;
  top: 0;
  border-bottom:double;
}